.card
  position: relative

.card__image
  display: block
  height: 100%
  div
    height: 250px
  &:hover
    filter: none

  img
    display: block
    &:hover

.card__caption
  position: absolute
  bottom: 10px
  right: 10px
  padding: 10px

.card__title
  text-transform: uppercase
  text-decoration: none
  font-weight: bold
  font-size: $large
  color: white
  text-align: right
  line-height: $large
  font-family: $title
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3)

.flash
  border: 4px solid $item4 !important

@media screen and (min-width: 1300px)
  .card__image
    div
      height: 300px
