.footer,
.footer p
    background-color: $dark-body-color
    padding: 10px 40px
    display: flex
    color: $border-color
    font-size: 12px
.footer p
    padding: 0
.footer__column
    padding: 20px
