.footer,
.footer p
    background-color: $dark-body-color
    padding: 10px 40px
    display: flex
    color: $border-color
    font-size: 12px
    @media screen and (max-width: 860px)
        flex-direction: column
.footer p
    padding: 0
.footer__column
    padding: 20px

@media screen and (min-width: 900px)
    .footer.home
        display: none
