.showcase.is-loading
  visibility: hidden

.showcase
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 20px
  height: 100%
  align-content: center

.showcase__item
  margin-bottom: 20px
  width: 35%
  overflow: hidden
  max-height: 230px

.showcase__item1,
.showcase__item2,
.showcase__item5,
  width: 60%

@media screen and (max-width: 400px)
  .showcase__item1,
  .showcase__item2,
  .showcase__item5,
  .showcase__item
    width: 100%

@media screen and (min-width: 1600px)
  .showcase__item
    max-height: 300px
    margin-bottom: 40px
