.work__subtitle
    text-transform: uppercase
    text-align: center
    margin: 20px 0
    font-size: 2em
    line-height: 1.3em

.work__schema
    max-width: 880px
    margin: 0 auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
    @media screen and (max-width: 600px)
        flex-direction: column

.work__number
    font-family: $title
    font-size: 45px

.work__item
    display: flex
    flex-direction: column
    align-items: center
    width: 280px
    height: 180px
    text-align: center
    padding: 10px
    color: white
    margin-top: 20px

.work__item-wrapper
    display: flex
    align-items: flex-end
    margin-bottom: 20px

.item0
    background-color: $item

.item1
    background-color: $item1

.item2
    background-color: $item2

.item3
    background-color: $item3

.item4
    background-color: $item4

.item5
    background-color: $item5

.item6
    background-color: $item6
