.work__subtitle
    font-size: 20px
    text-transform: uppercase
    text-align: center
    margin: 20px 0

.work__schema
    height: 500px
    width: 800px
    position: relative
    margin: 0 auto

.work__item
    display: block
    max-width: 300px
    border-radius: 5px
    text-align: center
    padding: 10px
    position: absolute
    color: white

.work__item0
    top: 0
    right: 250px
    background-color: $item

.work__item1
    top: 140px
    right: 0
    background-color: $item1

.work__item2
    top: 260px
    right: 0
    background-color: $item2

.work__item3
    top: 385px
    right: 50px
    background-color: $item3

.work__item4
    top: 375px
    right: 400px
    background-color: $item4

.work__item5
    top: 260px
    right: 500px
    background-color: $item5

.work__item6
    top: 140px
    right: 500px
    background-color: $item6
